:root {
    --bg-color-100: #121212;
    --bg-color-200: #282828;
    --bg-color-300: #3f3f3f;
    --bg-color-400: #575757;
    --bg-color-500: #717171;
    --bg-color-600: #8b8b8b;

    --primary-color-100: #382bf0;
    --primary-color-200: #5e43f3;
    --primary-color-300: #7a5af5;
    --primary-color-400: #9171f8;
    --primary-color-500: #a688fa;
    --primary-color-600: #ba9ffb;
}
body {
    background: var(--bg-color-100);
    color: #eee;
    margin: 0;
    padding: 0;
}
